.Card {
	padding: 20px;
	color: var(--font-color-dark);
	height: 100%;
	width: 100%;
	border-radius: 12px;
	background: var(--foreground);
	box-shadow: 4px 4px 8px var(--shadow-light);
	position: relative;

	.CardHeader {
		display: grid;
		width: 100%;
		font-size: 18px;
		display: grid;
		text-align: left;
		margin-bottom: 1dvh;
	}

	.CardLine {
		font-size: 14px;
	}

	.ToggleButtonGroup {
		bottom: -72px;
		position: absolute;
		z-index: 2;
		padding: 4px;
	}
}
