:root {
	/* Font Colors */
	--font-color-light: #fef6f1;
	--font-color-medium: #63564d;
	--font-color-dark: #171818;

	/* Theme Colors */
	--theme-dark: #063b46;
	--theme-medium: #24a99c;
	--theme-light: #24ccbb;
	--theme-light: #2bd8a4;
	--theme-light: #2bb3d9;

	/* Neutrals */
	--neutral-lighter: #f5eee8;
	--neutral-light: #c1b9b2;
	--neutral-medium: #706b66;
	--neutral-dark: #514d49;
	--neutral-darker: #2d2b29;

	/* Functional */
	--shadow-light: #3a3f4553;
	--shadow-dark: #3a3f45d3;
	--background: #ebd8c1;
	--background: #e1d1be;
	--foreground: #fffcfd;
	--warning: #ee5858;
	--warning-dark: #d54b4b;

	/* New Chocolate Palette */
	--col-1: #79543f;
	--col-2: #caa68d;
	--col-3: #dcc7b8;
	--col-4: #ede8e2;
	--col-5: #82d4de;
	--col-6: #303534;
}