:root {
	/* Font Colors */
	--font-color-light: #fef6f1;
	--font-color-medium: #63564d;
	--font-color-dark: #171818;

	/* Theme Colors */
	--theme-main-dark: #006d77;
	--theme-main-medium: #83c5be;
	--theme-main-light: #edf6f9;
	--theme-accent-light: #ffddd2;
	--theme-accent-dark: #e29578;

	/* Neutrals */
	--cool-light: #adb1b5;
	--cool-medium: #676a6d;
	--cool-dark: #3e4042;
	--warm-light: #dcc8c3;
	--warm-medium: #a0938f;
	--warm-dark: #867975;

	/* Functional */
	--shadow-light: #3a3f4553;
	--shadow-dark: #3a3f45d3;
	--foreground: #fffbf3;
}
