:root {
	/* Font Colors */
	--font-color-light: #fef6f1;
	--font-color-medium: #63564d;
	--font-color-dark: #171818;

	/* Theme Colors */
	--theme-dark: #063b46;
	--theme-medium: #0e8189;
	--theme-light: #2fded6;
	--theme-accent-dark: #165086;
	--theme-accent-medium: #2b80c5;
	--theme-accent-light: #2db0fc;

	/* Neutrals */
	--neutral-lighter: #e8ecf5;
	--neutral-light: #b3b9c4;
	--neutral-medium: #666a71;
	--neutral-dark: #494b52;
	--neutral-darker: #2a2c2f;

	/* Functional */
	--shadow-light: #3a3f4553;
	--shadow-dark: #3a3f45d3;
	--background: #e3e3ea;
	--foreground: #fdfcff;
}
