.CutBody {
	--grid: 2fr 2fr 8fr 1fr;
	width: 100%;
	padding: 20px 0px;

	.CardHeader {
		grid-template-columns: var(--grid);
		gap: 8px;
	}

	.CutLines {
		.CardLine {
			display: grid;
			grid-template-columns: var(--grid);
			width: 100%;
			justify-content: space-between;
			gap: 8px;

			input:not(.name) {
				width: 5ch;
			}

			&:last-of-type {
				margin-bottom: 20px;
			}
		}
	}

	input {
		border: none;
		border-bottom: 1px solid var(--neutral-light);
		color: var(--font-color-dark);
		padding: 4px;
	}

	.add {
		font-size: 20px;
	}
}