.CutBody {
	--grid: 2fr 2fr 8fr 1fr;
	grid-template-rows: 24px 1fr;
	width: 100%;
	padding: 0px;

	.wrapper {
		align-self: flex-start;
	}
	.CardHeader {
		grid-template-columns: var(--grid);
		gap: 8px;
	}

	.CutLines {
		width: 100%;
		.CardLine {
			display: grid;
			grid-template-columns: var(--grid);
			width: 100%;
			justify-content: space-between;
			gap: 8px;

			input {
				min-width: 0;
			}

			&:last-of-type {
				margin-bottom: 20px;
			}
		}
	}

	input {
		border: none;
		border-bottom: 1px solid var(--neutral-light);
		color: var(--font-color-dark);
		padding: 4px;
	}

	.add {
		font-size: 20px;
		background: var(--accent-medium);
		border-radius: 50%;
		aspect-ratio: 1;
		width: 24px;
		color: var(--foreground);
		transition: background 0.2s;

		&:hover {
			background: var(--accent-light);
		}
	}
}
