.mainHeader {
	background: var(--theme-main-dark);
	color: var(--font-color-light);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 12px;
	background: var(--neutral-lighter);

	* {
		color: var(--font-color-light);
	}

	h1 {
		font-size: 20px;
	}

	a {
		height: 100%;
		width: auto;
		.Icon {
			fill: var(--neutral-medium);
			height: 100%;
			width: auto;
		}
	}
}
