main {
	--open-timing: 0.4s;
	overflow-x: hidden;

	grid-template-columns: 1fr 0fr;
	grid-template-areas: "top top" "left right";
	transition: grid-template-columns var(--open-timing)
		cubic-bezier(0.68, 0, 0.265, 1);

	&:has(.open) {
		grid-template-columns: 1fr 1fr;
	}

	.left {
		grid-area: left;
	}

	.right {
		grid-area: right;
	}

	.FileGroup {
		gap: 1rem;
		padding: 1rem;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;

		.FileGroupTitle {
			font-size: 1.5rem;
			font-weight: bold;
			text-align: left;
		}

		.FileList {
			gap: 1rem;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.FileTile {
			width: clamp(60px, 20vw, 104px);
			aspect-ratio: 1/1;
			background: var(--foreground);
			border-radius: var(--theme-radius);
			display: grid;
			place-items: center;
			position: relative;
			padding: 4px;

			&.selected {
				outline: 4px solid var(--accent-medium);
			}

			> * {
				display: grid;
				place-items: center;
				height: 100%;
				width: 100%;
				cursor: pointer;
			}

			.editButton {
				position: absolute;
				right: 4;
				top: 4;
				width: clamp(30px, 35%, 40px);
				height: clamp(30px, 35%, 40px);
				padding: 4px;

				.edit {
					stroke: var(--accent-dark);
					fill: none;
				}
			}
		}
	}
}
