.FileGroup {
	gap: 1rem;
	padding: 1rem;
	align-items: flex-start;
	justify-content: flex-start;

	.FileGroupTitle {
		font-size: 1.5rem;
		font-weight: bold;
		text-align: left;
	}

	.FileList {
		gap: 1rem;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.FileTile {
		width: 20vw;
		aspect-ratio: 1/1;
		background: var(--foreground);
		border-radius: var(--theme-radius);

		a {
			display: grid;
			place-content: center;
			height: 100%;
			width: 100%;
		}
	}
}
