main {
	--open-timing: 0.35s;
	overflow-x: hidden;

	grid-template-columns: 1fr 0fr;
	grid-template-areas: "top top" "left right";
	transition: grid-template-columns var(--open-timing);

	&:has(.open) {
		grid-template-columns: 1fr 1fr;
	}

	.left {
		grid-area: left;
	}

	.right {
		grid-area: right;
	}

	.FileGroup {
		gap: 1rem;
		padding: 1rem;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;

		.FileGroupTitle {
			font-size: 1.5rem;
			font-weight: bold;
			text-align: left;
		}

		.FileList {
			gap: 1rem;
			align-items: flex-start;
			justify-content: flex-start;
		}

		.FileTile {
			width: clamp(60px, 20vw, 104px);
			aspect-ratio: 1/1;
			background: var(--foreground);
			border-radius: var(--theme-radius);
			display: grid;
			place-items: center;
			position: relative;
			padding: 4px;

			&.selected {
				outline: 4px solid var(--theme-light);
			}

			a {
				display: grid;
				place-items: center;
				height: 100%;
				width: 100%;
			}

			.editButton {
				position: absolute;
				right: 4;
				top: 4;
				width: clamp(30px, 35%, 40px);
				aspect-ratio: 1/1;
				padding: 4px;
				cursor: arrow;

				.edit {
					stroke: var(--neutral-medium);
					fill: none;
				}
			}
		}
	}

	.Sidebar {
		width: 100%;
		height: 100%;
		background: var(--foreground);
		display: flex;
		flex-direction: column;
		min-width: 0;
		justify-content: center;
		align-items: center;
		gap: 12px;
		transition: padding var(--open-timing);

		* {
			width: 100%;
			min-width: 0;
			padding: 0;
			opacity: 0;
			transition: opacity 0s;
		}

		input {
			font-size: 1.5rem;
			font-weight: 300;
			margin-bottom: 12px;
		}

		label {
			text-align: left;
			font-weight: 200;
			font-size: 0.9rem;
		}

		button {
			border-radius: var(--theme-radius);
			padding: 12px;
			font-weight: 600;
			color: var(--font-color-light);
		}

		&.open {
			padding: 20px;

			* {
				opacity: 1;
				transition: opacity 0.25s ease var(--open-timing);
			}

			button {
				padding: 12px;
			}
		}
	}

	#ManagerSidebar {
		#deleteProject {
			background: var(--warning);
			transition: background 0.25s;

			&:hover {
				background: var(--warning-dark);
			}
		}

		#copyProject {
			background: var(--theme-light);
			transition: background 0.25s;

			&:hover {
				background: var(--theme-medium);
			}
		}
	}
}
