.splashContainer {
	background: var(--theme-dark);
	display: grid;
	place-items: center;
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

.Icon {
	&.splash {
		fill: var(--foreground);
		width: max(140px, 30vw);
	}
}

@keyframes ScrollUp {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}
