.ToggleButtonGroup {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-radius: var(--theme-radius);
	overflow: hidden;
	background: var(--neutral-lighter);
	position: relative;

	.Cursor {
		background: var(--foreground);
		height: 100%;
		position: absolute;
		z-index: 0;
		transition: left 0.15s;
	}

	.ToggleButton {
		flex: 1;
		font-size: 14px;
		transition: color 0.2s;
		z-index: 1;
	}
}
