.ToggleButtonGroup {
	display: flex;
	flex-wrap: wrap;
	margin: 2dvh;

	.ButtonGroup {
		display: flex;

		.ToggleButton:first-of-type {
			border-radius: 12px 0px 0px 12px;
		}

		.ToggleButton:last-of-type {
			border-radius: 0px 12px 12px 0px;
		}

		.ToggleButton {
			font-size: 14px;
			background: var(--neutral-light);
			transition:
				background 0.2s,
				color 0.2s;
			padding: 4px 12px;
			border-radius: 0px;
			box-shadow: 2px 2px 2px var(--shadow-light);

			&:hover {
				background: var(--theme-light);
			}

			&.active {
				background: var(--theme-medium);
				color: var(--font-color-light);
			}
		}
	}
}
