.ToggleButtonGroup {
	width: 100%;
	border-radius: var(--theme-radius);
	overflow: hidden;
	background: var(--neutral-lighter);
	position: relative;

	.Cursor {
		background: var(--foreground);
		height: 100%;
		z-index: 0;
		transition: left 0.25s cubic-bezier(0.5, -0.17, 0.75, 0.81);
		position: absolute;
	}

	.ToggleButton {
		flex: 1;
		font-size: 14px;
		z-index: 1;
		height: 100%;
		transition: font-weight 0 0 0.25s;

		&.active {
			font-weight: 600;
		}
	}
}
